@font-face{
    font-family:Bjorn-Regular;
    src: url(../fonts/Bjorn-Regular.otf);
}
@font-face{
    font-family:Bjorn-Light;
    src: url(../fonts/Bjorn-Light.otf);
}
@font-face{
    font-family:Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family:Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face{
    font-family:Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face{
    font-family:UniSansThin;
    src: url(../fonts/UniSansThin.otf);
}

*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
}
h2{
    font-family: UniSansThin;
    text-transform: uppercase;
}
p{
    font-family: Roboto-Light;
    font-size: 14px;
    text-align: justify;
}
section{
    position: relative;
}
.container{
    width:1280px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.nonetransform{
    transform: none !important;
}
#fullpage{
    height: 100vh;
    width: 100vw;
}
/*Section1*/
.bg-image{
    background: url(../images/bg_h.jpg) 50%/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    width: 100vw;
}
#parallax-viewport{
    position: relative;
    overflow: hidden;
    height: 300px;
}
.parallax-layer{
    position: absolute;
}
/*Section2*/
.logos-slider{
    background-color: #202020;
    height: 160px;
}
.multiple-items .slick-slide{
    display: flex;
    justify-content: center;
    outline: 0 !important;
}
.logos-slider .slick-slide img{
    opacity: 0.3;
}
.logos-slider .slick-slide.slick-current img{
    opacity: 1;
}

.cards-slider{
    background: linear-gradient(45deg, #fd5a39, #fe3351);
    height: calc(100% - 160px);
    padding: 6% 0;
}
.cards-slider .slick-track{
    padding: 10px 0;
}
.cards-slider .slick-track{
    margin-left: 10px;
}
.slider-product .slick-slide{
    height: 420px;
    padding: 30px 0 30px;
    transition: 1s padding;
    outline: 0 !important;
}

.slider-product .slick-slide .product{
    border-radius: 10px;
    height: 100%;
    width:92%;
    position: relative;
    left: 0;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px #171717;
    filter: blur(1px);
    margin: auto;
    z-index: 0;
}
.product .image{
    width:36%;
    height: 100%;
    background: linear-gradient(45deg, #fd5a39, #fe3351);
    border-radius: 10px 0 0 10px;
}
.product .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product .description{
    width:64%;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    padding: 25px;
    overflow: hidden;
    position: relative;
}
.product .description h2{
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: 400;
}
.product .description p{
    font-size: 12px;
    transition: 1s;
}
.product .description > p:nth-child(2){
    height: 28px;
    overflow: hidden;
    margin: 0;
}
.product .description p span{
    color: #f8264d;
    font-family: Roboto-Regular;
}
.description a{
    text-decoration: none;
}
.product .description .price{
    font-size: 25px;
    margin: 8px;
    transition: 1s;
}
.product .description .btn-to-order{
    display: block;
    background-color: #f8264d;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #f8264d;
    height: 40px;
    width:150px;
    font-size: 15px;
    cursor:pointer;
    margin: 15px auto;
    font-family: Roboto-Light;
    box-shadow: 0 0 8px #f8264d;
}
.slider-product .slick-slide.slick-center{
    position: relative;
    left: 0;
}
.slider-product .slick-slide.slick-center .product {
    z-index: 2;
    filter: blur(0);
    transform: scale(1.18);
}
/*Section 4*/
#section4{
    background-color: #202020;
}
.contact-form{
    height: calc(100% - 180px);
    padding: 5% 0;
}
.contact-form h2{
    color: #fd5a39;
    font-size: 30px;
}
.contact-form form{
    width: 700px;
    margin: 40px auto;
}
.contact-form form input{
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    height:40px;
    padding: 0 18px;
    font-size: 16px;
    width:30%;
}
.form-message{
    width: 100%;
    position: relative;
    margin: 20px 0 30px;
}
.form-message textarea{
    width:100%;
    border-radius: 5px;
    border: none;
    padding: 40px 50px;
    font-size: 16px;
    min-height: 400px;
}
.form-message:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid #fd5a3a;
    border-right: 100px solid transparent;
    top:-8px;
    left:-8px;
}

.send{
    display: block;
    background-color: #fd5a3a;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #fd5a3a;
    height: 40px;
    width:200px;
    font-size: 15px;
    cursor:pointer;
    margin: 15px auto;
    font-family: Roboto-Light;
    transition: 0.5s ease-out;
}
.send:hover{
    width: 100%;
    transition: 0.5s ease-out;
}

footer{
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: #202020;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
footer > div{
    margin: 0 30px;
}
.email, .social{
    width:300px;
}
.email{
    display: flex;
    justify-content: flex-end;
}
.telephone{
    width:120px;
}
.telephone .icons{
    display: flex;
    justify-content: space-between;
}
.social{
    display: block;
}
.social p{
    margin: 0 0 8px;
}
.social p img{
    margin-right: 10px;
    margin-bottom: -3px;
}

/*Seccess form*/
.seccess-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccess-form > div{
    background-color: #fff;
    border-radius: 25px;
    padding: 30px;
}
.seccess-form > div h2{
    margin: 0;
}
.seccess-form > div p{
    font-size: 20px;
}

.price_and_button{
    position: absolute;
    bottom: 10px;
    width: 80%;
}
@media(max-width:1600px){
    .cards-slider, .contact-form{
        padding: 2% 0;
    }
    .form-message textarea{
        min-height: 50%;
    }
}
@media(max-width:1280px){
    .container{
        width:96%;
    }
    footer{
        position: relative;
    }
}
@media(max-width:1199px){
    body{
        overflow: auto;
    }
    .logos-slider{
        height: 162px;
    }
    .slider-product .slick-slide.slick-center .product{
        width:170%;
        left: -45%;
    }
    .slick-center .product .image{
        width: 230px;
    }
    .slick-center .product .description{
        width: calc(100% - 230px);
    }
    .product .description h2{
        margin-bottom: 18px;
    }
    .product .description h2{
        font-size: 18px;
    }
    .slick-center .product .description h2{
        font-size: 26px;
    }
    .slick-center .product .description{
        padding: 35px;
    }
    .parallax-layer{
        width: 90%;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
    }
}
@media(max-width:991px){
    .slider-product .slick-slide.slick-center .product{
        width: 160%;
        left: -40%;
    }
    .slick-center .product .image{
        width:36%;
    }
    .slick-center .product .description{
        width: 64%;
        padding: 35px 20px;
    }
    .product .description h2{
        margin-bottom: 14px;
    }
    .slick-center .product .description > p{
        margin-bottom: 0;
    }
    .characteristics1 p:nth_child(2){
        margin: 15px 0;
    }
    .characteristics2{
        width:50%;
    }
    .characteristics2 p span{
        display: block;
    }
    .slick-center .product .description h2{
        font-size: 26px;
    }
    .slick-center .product .description .price{
        font-size: 30px;
        margin-top: 20px;
    }
    .slick-center .product .description > p:nth-child(2){
        height: 84px;
    }
    .product .description{
        padding: 25px 10px;
    }
    .slick-center .product .description{
        padding: 25px;
    }
    .product .description h2{
        font-size: 18px;
    }
    .slick-center .product .description h2{
        font-size: 24px;
    }
    .product .description > p:nth-child(2){
        height: 78px;
    }
    .product .description .btn-to-order{
        width: 120px;
    }
    .product .description .price{
        font-size: 22px;
    }
    .product .description p span{
        letter-spacing: -1px;
    }
    .slick-center .product .description p span{
        letter-spacing: 0px;
    }
    .contact-form form{
        width:500px;
    }
}
@media(max-width:800px){
    .product .description p span{
        letter-spacing: -1.5px;
    }
}
@media(max-width:768px){
    /*.slick-center .product .description h2{
        font-size: 24px;
    }
    .slider-product .slick-slide.slick-center .product{
        width:84%;
        left: 4%;
    }*/
    .slick-center .product .description{
        padding: 35px;
    }
    .slick-center .product .description .btn-to-order{
        width:180px;
    }
    .slider-product .slick-slide.slick-center .product{
        transform: scale(1);
        width: 92%;
        left: 0;
    }
    .cards-slider .slick-track{
        margin-left: 0;
    }
    .slider-product .slick-slide{
        height: 460px;
    }
    .slick-center .product .description .price{
        margin-top: 0;
    }
    .slick-center .product .description > p:nth-child(2){
        height: 62px;
    }
    .product .description p{
        font-size: 16px;
    }
}
@media(max-width:600px){
    .contact-form form{
        width: 350px;
    }
    .contact-form form .flex-between{
        display: block;
    }
    .contact-form form .flex-between input{
        display: block;
        width:100%;
    }
    .form-message textarea{
        padding: 35px 35px;
    }
    footer{
        display: block;
        height: auto;
        padding: 0 0 20px;
    }
    footer > div{
        margin: 0 auto;
        width: 400px;
    }
    .slick-center .product .description{
        padding: 35px 4%;
    }
    .email{
        justify-content: center;
    }
    .social p{
        width: 100%;
        text-align: center;
    }
    .form-message:before{
        border-top: 50px solid #fd5a3a;
        border-right: 50px solid transparent;
    }
}
@media(max-width:480px){
    body{
        overflow: hidden;
    }
    .logos-slider{
        height: auto;
    }
    .logos-slider .slick-slide img{
        width:100px;
        height: 100px;
    }
    .contact-form form{
        width: 250px;
        margin: 20px auto;
    }
    .form-message textarea{
        padding: 25px 25px;
    }
    .bg-image{
        height: 100% !important;
    }
    #fullpage{
        width: 100%;
        height: 100%;
    }
    .cards-slider{
        height: calc(100% - 100px);
    }
    /*.slider-product .slick-slide{
      padding: 0px 0 0px;
    }*/
    .slider-product .slick-slide .product{
        filter: blur(0px);
    }
    .slider-product .slick-slide, .slider-product .slick-slide, .slider-product .product .image{
        height: auto;
    }
    .product .description p{
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .product .description > p:nth-child(2), .slick-center .product .description > p:nth-child(2){
        height: auto;
    }
    .slider-product .product .description h2, .slick-center .product .description h2{
        font-size: 22px;
    }
    .product .description{
        padding: 35px 4%;
    }
    .product .description p span{
        letter-spacing: 0px;
    }
    .product .description .price, .slick-center .product .description .price{
        font-size: 30px;
        margin-top: 0px;
    }
    .product .description .btn-to-order{
        width: 130px;
        margin: 10px auto;
    }
    .characteristics1 p, .characteristics2 p{
        margin-right: 6px;
    }
}
@media(max-width:400px){
    .slider-product .slick-slide .product{
        transition: 0;
    }
    .price_and_button{
        bottom: 20px;
    }
    .form-message{
        margin: 15px 0 15px;
    }
    .contact-form form input{
        height: 30px;
        font-size: 14px;
        margin-bottom: 18px;
    }
    .form-message textarea{
        padding: 15px 15px;
        height: 110px;
        font-size: 14px;
    }
    .cards-slider .slick-track{
        padding: 0;
    }
    .slider-product .slick-slide{
        padding: 10px 0;
        height: 400px;
    }
    .product .description, .slick-center .product .description{
        padding: 20px 4%;
    }
    .cards-slider {
        height: calc(100vh - 100px);
    }
    section{
        overflow: hidden;
    }
    footer{
        display: block;
        height: auto;
        padding: 15px 0;
    }
    footer > div{
        margin: 0 auto;
        width: 200px;
    }
    .telephone .icons{
        justify-content: center;
    }
    .telephone .icons img{
        margin: 0 15px;
    }
    .social p{
        text-align: center;
    }
    .slick-center .product .description .btn-to-order{
        width:130px;
        margin: 10px auto;
    }
    .product .description h2{
        margin-bottom: 10px;
    }
    .characteristics2{
        width:58%;
    }
    .contact-form h2, .contact-form form{
        margin: 15px auto;
    }
    .social{
        display: flex;
        justify-content: space-between;
    }
    .contact-form{
        height: calc(100% - 164px);
    }
}
@media(max-width:325px){
    .slider-product .slick-slide{
        height:380px;
    }
    .slider-product .product .description h2, .slick-center .product .description h2{
        font-size: 20px;
    }
    .product .description h2{
        margin-bottom: 4px;
    }
    .product .description .price, .slick-center .product .description .price{
        font-size: 26px;
    }
}
