<section id="sliders{{ module }}">

    <div class="logos-slider">
        <div class="container multiple-items slider-nav">
            {% for banner in banners %}
                <div><img src="{{ banner.manufacturer_image }}" alt=""></div>
            {% endfor %}
        </div>
    </div>

    <div class="cards-slider">
        <div class="container slider-for">

            {% for banner in banners %}
                <div class="manufacturer's products">
                    <div class="slider-product">

                        {% for product in banner.products %}

                            <div class="slide">
                                <div class="product">
                                    <div class="image">
                                        <img src="{{ product.image }}" alt="{{ product.name }}">
                                    </div>
                                    <div class="description">
                                        <h2 class="text-center">{{ product.name }}</h2>
                                        {{ product.description }}
                                        <div class="flex-between">
                                            <div class="characteristics1">

                                                {% for attribute_groups in product.attributes %}
                                                    {% for attribute in attribute_groups.attribute %}
                                                        <p>
                                                            <span>{{ attribute.name }}:</span> {{ attribute.text }}
                                                        </p>
                                                    {% endfor %}
                                                {% endfor %}

                                            </div>
                                            <div class="characteristics2">
                                                <p><span>Производитель:</span> {{ product.manufacturer }}</p>
                                            </div>
                                        </div>
                                        <div class="price_and_button">
                                            <p class="price text-center">{{ product.price }}</p>
                                            <a class="too-bottom">
                                                <button class="btn-to-order">Заказать</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>

<script type="text/javascript"><!--
    //Slider content
    $('#sliders{{ module }} .slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav',
        draggable: false,
        swipe: false
    });
    //Slider logo
    $('#sliders{{ module }} .slider-nav').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        asNavFor: '#sliders{{ module }} .slider-for',
        centerMode: true,
        centerPadding: '2px',
        focusOnSelect: true,
        arrows:false,
        dots: false,
        responsive: [
            {
                breakpoint: 769,
                settings: {
                    slidesToShow: 3
                }
            }
        ]
    });

    $('.logos-slider').on('click', function(){
        $('#sliders{{ module }} .slick-active .slider-product .slick-slide').filter('[tabindex="0"]:eq(0)').addClass('slick-center');
    });

    if($('#sliders{{ module }} .slider-nav').find('.slick-slide').length <= 3){
        $('#sliders{{ module }} .slider-nav .slick-track').addClass('nonetransform');
    }

    --></script>