<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {% if description %}
        <meta name="description" content="{{ description }}" />
    {% endif %}

    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}

    <link href="catalog/view/javascript/jquery/onepage-scroll/onepage-scroll.css" rel="stylesheet" type="text/css" />
    <link href="catalog/view/javascript/jquery/parallax/jquery.parallax.css" rel="stylesheet" type="text/css" />
    <link href="catalog/view/javascript/jquery/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="catalog/view/theme/default/stylesheet/home.css" rel="stylesheet" type="text/css" />

    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/jquery/migrate/jquery-migrate-1.4.1.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/jquery/parallax/jquery-parallax.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/jquery/onepage-scroll/jquery.onepage-scroll.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/jquery/slick/slick.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/main.js" type="text/javascript"></script>

    <style>
        .bg-image{
            background: url('{{ bg }}') 50%/cover no-repeat;
        }
    </style>

</head>
<body >
<div id="fullpage">
    <!--Secrion 1-->
    <section id="parallax-viewport" class="bg-image">

        <div class="parallax-layer" style="width:700px; height:100px;">
            <img src="{{ logo }}" alt="ariant" class="parallax-layer">
        </div>

    </section>

    {{ content_top }}{{ content_bottom }}

    <!-- Section 4 -->
    <section id="section4">

        {% if success is not defined %}

        <div class="contact-form container">
            <h2 class="text-center">Напиши нам</h2>
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
                <div class="flex-between">
                    <input type="text" name="name" placeholder="Имя" required>
                    <input type="email" name="email" placeholder="email" required>
                    <input type="phone" name="phone" placeholder="Телефон" id="input-tel" required>
                </div>
                <div class="form-message">
                    <textarea name="message" rows="8" cols="80" placeholder="Введите ваш комментарий..."></textarea>
                </div>

                <button class="send">Отправить</button>

            </form>
        </div>

        {% else %}

            <div class="contact-form container seccess-form">
                <div>
                    <h2 class="text-center">Урра!</h2>
                    <p class="text-center">Ваше сообщение отправлено.</p>
                </div>
            </div>

        {% endif %}

        <footer>
            <div class="email">
                <p>{{ mail }}</p>
            </div>

            <div class="telephone">
                <div class="icons">
                    <img src="catalog/view/theme/default/image/telegram.png" alt="telegram">
                    <img src="catalog/view/theme/default/image/whatsapp.png" alt="whatsapp">
                    <img src="catalog/view/theme/default/image/viber.png" alt="viber">
                </div>
                <p class="text-center">{{ telephone }}</p>
            </div>

            <div class="social">
                <p><img src="catalog/view/theme/default/image/int.png" alt="instagram">@ariantua</p>
                <p><img src="catalog/view/theme/default/image/face.png" alt="facebook">@ariantua</p>
            </div>
        </footer>
    </section>
</div>

</body>
</html>





{#{{ header }}#}
{#<div id="common-home" class="container">#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
{#{{ footer }}#}